<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Engifest">
	<meta name="author" content="Excelsior tech team">
	<title>Excelsior '18</title>
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="/css/materialize.css">
   
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/css/theme.css">
	<!--Custom Fonts -->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
	<!-- Main -->
	<link rel="stylesheet" type="text/css" href="/css/sponsorMain.css">
</head>
<body>
		<div  id="loader">
				<img id="loader-img" src="/images/loader.gif">
			</div>
			
	<!-- <div class="navbar-fixed"> -->
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><img class="logo-header" src="/images/logo-2018w.png"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
	  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<p class="nav-item-custom">
						<span><a class="nav-link-custom" href="/index">Home</a></span>
						<span><a class="nav-link-custom" href="/about">About</a></span>
						<span><a class="nav-link-custom" href="/team">Our Team</a></span>
						<span><a class="nav-link-custom" href="/sponsors">Our Sponsors</a></span>
						<span><a class="nav-link-custom" href="/events">Our Events</a></span>
						<span><a class="nav-link-custom" href="/gallery">Glimpse of the Past</a></span>
						<span><a href="/contact" class="nav-link-custom">Contact Us</a></span>
					
							  
						  
				</div>
			</div>
		<!-- /.navbar-collapse -->
	<!-- /.container -->
	</nav>
	<section class="intro">
			<div class="intro-body">
				<div class="row">
					<div class="col-md-12 col-md-offset-2">
						<h1 class="heading">EXCELSIOR<sup> '18</sup></h1>
						<p class="intro-text">
							where vision turns to reality<br>
							<h3>COMING SOON...</h3>
						</p>
					</div>
				</div>
			</div>
		</div>
		</section>

		<footer class="page-footer-h">
						
								  
			<div class="fixed-action-btn vertical animated bounceInUp">
			  <a class="btn-floating btn-large red pulse">
				  <i class="fa fa-user-o" aria-hidden="true"></i>
			  </a>
			  <ul>
				<li><a class="btn-floating  indigo darken-3" href="https://www.facebook.com/EXCELSIOR2015/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a class="btn-floating blue darken-2" href="https://www.instagram.com/societyofrobotics_dtu/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a class="btn-floating red darken-4" href="https://www.youtube.com/channel/UCdsIkYFUNWAO4N0K3zElcEQ" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
				<li ><a class="btn-floating red darken-4" href="/contact" target="_blank"> <i class="fa fa-bookmark" aria-hidden="true"></i></a></li>
			  </ul>
			</div>
		  
		  
		  
		  
		  
		  
						  </footer>
<!--jQuery -->
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.js"></script>
  
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- Plugin JavaSCript -->
<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<script type="text/javascript" src="/js/theme.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>