<!DOCTYPE html>
<html>
<head>
	<title>EXCELSIOR'18</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Materialize -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/css/materialize.css">
   
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- main -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<!-- <div class="navbar-fixed"> -->
		  
	<!-- </div> -->

	    	<!-- <div id="particles-js"> -->
	    		<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
	    		<div class="container-fluid">
				  <a class="navbar-brand" href="/index"><img class="logo-header" src="/images/logo-2018w.png"></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <p class="nav-item-custom">
						<span><a class="nav-link-custom" href="/index">Home</a></span>
						<span><a class="nav-link-custom" href="/about">About</a></span>
						<span><a class="nav-link-custom" href="/team">Our Team</a></span>
						<span><a class="nav-link-custom" href="/sponsors">Our Sponsors</a></span>
						<span><a class="nav-link-custom" href="/events">Our Events</a></span>
						<span><a class="nav-link-custom" href="/gallery">Glimpse of the Past</a></span>
						<span><a href="/contact" class="nav-link-custom">Contact Us</a></span>
					


						
				    
				  </div>
				</div>
				</nav>

				<!-- About us -->
				<div class="container">
					<div class="jumbotron jumbotron-about">
						<h1>Contact Us</h1>
						<div class="row">
							<div class="col-12 col-md-9">
								<iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3497.9817161707424!2d77.11655946730602!3d28.74996284948905!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1515522680337" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
							<div class="col-12 col-md-3">
								<h3>Contact Information</h3>
			                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>   Delhi Technological University</p>
			                    <p><i class="fa fa-envelope" aria-hidden="true"></i>   societyofrobotic@gmail.com</p>
			                    <p><i class="fa fa-phone" aria-hidden="true"></i>   +91 9711203997</p>
							</div>
						</div>
					</div>
				</div>


				<!-- About us -->


				<footer class="page-footer-h">
						
								  
	  <div class="fixed-action-btn vertical animated bounceInUp">
		<a class="btn-floating btn-large red pulse">
			<i class="fa fa-user-o" aria-hidden="true"></i>
		</a>
		<ul>
		  <li><a class="btn-floating  indigo darken-3" href="https://www.facebook.com/EXCELSIOR2015/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		  <li><a class="btn-floating blue darken-2" href="https://www.instagram.com/societyofrobotics_dtu/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
		  <li><a class="btn-floating red darken-4" href="https://www.youtube.com/channel/UCdsIkYFUNWAO4N0K3zElcEQ" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
		  <li ><a class="btn-floating red darken-4" href="/contact" target="_blank"> <i class="fa fa-bookmark" aria-hidden="true"></i></a></li>
		</ul>
	  </div>
	
	
	
	
	
	
					</footer>
	    	<!-- </div> -->

	  
	

	 <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	 <script type="text/javascript" src="/js/materialize.js"></script>
  
   
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/particles.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>