<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Excelsior's Events</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <!--Jquery CDN-->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!--&lt;!&ndash; Compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->

    <!--&lt;!&ndash; Compiled and minified JavaScript &ndash;&gt;-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>-->







    <link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">

    <!--Custom CSS-->
    <!--<link rel="stylesheet" href="/css/events/css/tiles.css">-->
      <!--<link rel="stylesheet" href="/css/events/css/style.css">-->
    <link rel="stylesheet" href="/css/events/css/style1.css">

    <!--Bootstrap CDN-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/events/css/style2.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">




</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/index"><img class="logo-header" src="/images/logo-2018w.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <p class="nav-item-custom">
                <span><a class="nav-link-custom" href="/index">Home</a></span>
                <span><a class="nav-link-custom" href="/about">About</a></span>
                <span><a class="nav-link-custom" href="/team">Our Team</a></span>
                <span><a class="nav-link-custom" href="/sponsors">Our Sponsors</a></span>
                <span><a class="nav-link-custom" href="/events">Our Events</a></span>
                <span><a class="nav-link-custom" href="/gallery">Glimpse of the Past</a></span>


        </div>
    </div>
</nav>


<!--including header-->

<div class="events-list responsive">
    <ul class="content">

        <!-- 1 -->
        <li>
            <div class="card-front">
                <h2>Robo Race</h2>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum.</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#roborace">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Robo Soccer</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>Robo Soccer</h2>
                <!--<p>Cultrices posuere cubilia Curae; Quisque consectetur tortor</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#robosoccer">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Class aptent taciti sociosqu</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>Robo Wars</h2>
                <!--<p>Aenean imperdiet odio id dictum elementum. Donec vitae.</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#robowar">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Contrary to popular belief</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>Pull It</h2>
                <!--<p>Donec ac ipsum quis arcu sagittis placerat. Etiam augue felis.</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#pullit">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>In vulputate sem a arcu semper</h1>
            </div>
        </li>


        <!-- 2 -->
        <li>
            <div class="card-front">
                <h2>L.F.R</h2>
                <!--<p>Praesent sodales et tellus eu euismod. Suspendisse lobortis.</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#lfr">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Etiam quis sapien interdum</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>Quidditch</h2>
                <!--<p> Phasellus vel nulla bibendum dolor pellentesque lacinia</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#quidditch">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Vivamus metus massa</h1>
            </div>
        </li>
        <li>
            <div class="card-front">
                <h2>Crack The Company</h2>
                <!--<p>  Nam id pretium arcu, at vestibulum mauris. Curabitur.</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#crackthecompany">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Integer consequat vitae</h1>
            </div>
        </li>


        <!-- 3 -->
        <li>
            <div class="card-front">
                <h2>Quizzards</h2>
                <!--<p>Morbi ac scelerisque magna, at tincidunt est vivamus</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#quizzard">Register</a>>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Duis tellus dui vehicula</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>IC Art</h2>
                <!--<p>In iaculis purus sit amet auctor mollis, lorem ipsum dolor sit</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#icart">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Ligula nulla tempus sem</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>Code Saffari</h2>
                <!--<p>Cultrices posuere cubilia Curae; Quisque consectetur tortor</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#codesafari">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Class aptent taciti sociosqu</h1>
            </div>
        </li>
        <li>
            <div class="card-front">
                <h2>Java</h2>
                <!--<p>Cultrices posuere cubilia Curae; Quisque consectetur tortor</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#java">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Class aptent taciti sociosqu</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>Silicon Valley</h2>
                <!--<p>Cultrices posuere cubilia Curae; Quisque consectetur tortor</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#siliconvalley">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Class aptent taciti sociosqu</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>Socco</h2>
                <!--<p>Cultrices posuere cubilia Curae; Quisque consectetur tortor</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#socco">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Class aptent taciti sociosqu</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>Creative Talks</h2>
                <!--<p>Cultrices posuere cubilia Curae; Quisque consectetur tortor</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#creativetalk">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Class aptent taciti sociosqu</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>Eureka</h2>
                <!--<p>Cultrices posuere cubilia Curae; Quisque consectetur tortor</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#eureka">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Class aptent taciti sociosqu</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>Lazer Maze</h2>
                <!--<p>Cultrices posuere cubilia Curae; Quisque consectetur tortor</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#lazermaze">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Class aptent taciti sociosqu</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>Bomb Barage</h2>
                <!--<p>Cultrices posuere cubilia Curae; Quisque consectetur tortor</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#bombbarage">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Class aptent taciti sociosqu</h1>
            </div>
        </li>

        <li>
            <div class="card-front">
                <h2>Mockstock</h2>
                <!--<p>Cultrices posuere cubilia Curae; Quisque consectetur tortor</p>-->
            </div>
            <div class="card-back">
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#mockstock">Register</a>
            </div>

            <!-- Content -->
            <div class="all-content">
                <h1>Class aptent taciti sociosqu</h1>
            </div>
        </li>





    </ul>
</div>
<footer class="page-footer">
    <div class="container">
        <p>
            <span><a target="about" href="https://www.facebook.com/EXCELSIOR2015/"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
            <span><a target="about" href="https://www.instagram.com/societyofrobotics_dtu/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
            <span><a target="about" href="https://www.youtube.com/channel/UCdsIkYFUNWAO4N0K3zElcEQ"><i class="fa fa-youtube" aria-hidden="true"></i></a></span>
            <span><a href="/contact">Contact Us</a></span>
        </p>

    </div>
</footer>




<!--REGISTRATION MODEL-->
<!-- Modal Structure -->

<!--Robo Race-->
<div class="modal fade" id="roborace" tabindex="-1" role="dialog" aria-labelledby="roborace" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <form action="/roborace" method="post">
                    <div class="form-group">
                        <label for="fullname">Full Name</label>
                        <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                    </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                        </div>
                    <div class="form-group">
                        <label for="contactnumber">Contact No.</label>
                        <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                    </div>
                    <div class="form-group">
                        <label for="college">College Name</label>
                        <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                    </div>

                    <div class="form-group">
                        <label for="year">Year</label>
                        <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                    </div>

                    <div class="form-group">
                        <label for="course">Course Of Study</label>
                        <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                </form>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>
</div>




    <!--Robosoccer-->
    <div class="modal fade" id="robosoccer" tabindex="-1" role="dialog" aria-labelledby="robosoccer" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <form action="/robosoccer" method="post">
                        <div class="form-group">
                            <label for="fullname">Full Name</label>
                            <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="contactnumber">Contact No.</label>
                            <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                        </div>
                        <div class="form-group">
                            <label for="college">College Name</label>
                            <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                        </div>

                        <div class="form-group">
                            <label for="year">Year</label>
                            <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                        </div>

                        <div class="form-group">
                            <label for="course">Course Of Study</label>
                            <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </form>
                    <div class="modal-footer">
                        

                    </div>
                </div>
            </div>
        </div>
    </div>

        <!--Robowars-->
        <div class="modal fade" id="robowar" tabindex="-1" role="dialog" aria-labelledby="robowar" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <form action="/robowar" method="post">
                            <div class="form-group">
                                <label for="fullname">Full Name</label>
                                <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="contactnumber">Contact No.</label>
                                <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                            </div>
                            <div class="form-group">
                                <label for="college">College Name</label>
                                <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                            </div>

                            <div class="form-group">
                                <label for="year">Year</label>
                                <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                            </div>

                            <div class="form-group">
                                <label for="course">Course Of Study</label>
                                <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                            </div>

                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                        </form>
                        <div class="modal-footer">
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!--Pull it-->

            <div class="modal fade" id="pullit" tabindex="-1" role="dialog" aria-labelledby="pullit" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <form>
                                <div class="form-group">
                                    <label for="fullname">Full Name</label>
                                    <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="contactnumber">Contact No.</label>
                                    <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                </div>
                                <div class="form-group">
                                    <label for="college">College Name</label>
                                    <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                </div>

                                <div class="form-group">
                                    <label for="year">Year</label>
                                    <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                </div>

                                <div class="form-group">
                                    <label for="course">Course Of Study</label>
                                    <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                </div>

                                <button type="submit" class="btn btn-primary btn-lg">Register</button>
                            </form>
                            <div class="modal-footer">
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!--LFR-->
                <div class="modal fade" id="lfr" tabindex="-1" role="dialog" aria-labelledby="lfr" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <form>
                                    <div class="form-group">
                                        <label for="fullname">Full Name</label>
                                        <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="contactnumber">Contact No.</label>
                                        <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                    </div>
                                    <div class="form-group">
                                        <label for="college">College Name</label>
                                        <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                    </div>

                                    <div class="form-group">
                                        <label for="year">Year</label>
                                        <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                    </div>

                                    <div class="form-group">
                                        <label for="course">Course Of Study</label>
                                        <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                </form>
                                <div class="modal-footer">
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <!--quidditch-->

                    <div class="modal fade" id="quidditch" tabindex="-1" role="dialog" aria-labelledby="quidditch" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <form>
                                        <div class="form-group">
                                            <label for="fullname">Full Name</label>
                                            <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="contactnumber">Contact No.</label>
                                            <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                        </div>
                                        <div class="form-group">
                                            <label for="college">College Name</label>
                                            <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                        </div>

                                        <div class="form-group">
                                            <label for="year">Year</label>
                                            <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                        </div>

                                        <div class="form-group">
                                            <label for="course">Course Of Study</label>
                                            <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                    </form>
                                    <div class="modal-footer">
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!--Crack the company-->

                        <div class="modal fade" id="crackthecompany" tabindex="-1" role="dialog" aria-labelledby="crackthecompany" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <form>
                                            <div class="form-group">
                                                <label for="fullname">Full Name</label>
                                                <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="contactnumber">Contact No.</label>
                                                <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                            </div>
                                            <div class="form-group">
                                                <label for="college">College Name</label>
                                                <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                            </div>

                                            <div class="form-group">
                                                <label for="year">Year</label>
                                                <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                            </div>

                                            <div class="form-group">
                                                <label for="course">Course Of Study</label>
                                                <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                            </div>

                                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                        </form>
                                        <div class="modal-footer">
                                            

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                            <!--Quizzards-->
                            <div class="modal fade" id="quizzard" tabindex="-1" role="dialog" aria-labelledby="quizzard" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <form>
                                                <div class="form-group">
                                                    <label for="fullname">Full Name</label>
                                                    <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Email address</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                                </div>
                                                <div class="form-group">
                                                    <label for="contactnumber">Contact No.</label>
                                                    <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                                </div>
                                                <div class="form-group">
                                                    <label for="college">College Name</label>
                                                    <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                                </div>

                                                <div class="form-group">
                                                    <label for="year">Year</label>
                                                    <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                                </div>

                                                <div class="form-group">
                                                    <label for="course">Course Of Study</label>
                                                    <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                                </div>

                                                <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                            </form>
                                            <div class="modal-footer">
                                                

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <!--icarts-->

                                <div class="modal fade" id="icart" tabindex="-1" role="dialog" aria-labelledby="icart" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <form>
                                                    <div class="form-group">
                                                        <label for="fullname">Full Name</label>
                                                        <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Email address</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="contactnumber">Contact No.</label>
                                                        <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="college">College Name</label>
                                                        <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="year">Year</label>
                                                        <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="course">Course Of Study</label>
                                                        <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                                    </div>

                                                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                                </form>
                                                <div class="modal-footer">
                                                    

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                    <!--Code safari-->

                                    <div class="modal fade" id="codesafari" tabindex="-1" role="dialog" aria-labelledby="codesafari" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="fullname">Full Name</label>
                                                            <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Email address</label>
                                                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="contactnumber">Contact No.</label>
                                                            <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="college">College Name</label>
                                                            <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="year">Year</label>
                                                            <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="course">Course Of Study</label>
                                                            <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                                        </div>

                                                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                                    </form>
                                                    <div class="modal-footer">
                                                        

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                        <!--Java-->

                                        <div class="modal fade" id="java" tabindex="-1" role="dialog" aria-labelledby="java" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <form>
                                                            <div class="form-group">
                                                                <label for="fullname">Full Name</label>
                                                                <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Email address</label>
                                                                <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="contactnumber">Contact No.</label>
                                                                <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="college">College Name</label>
                                                                <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="year">Year</label>
                                                                <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="course">Course Of Study</label>
                                                                <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                                            </div>

                                                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                                        </form>
                                                        <div class="modal-footer">
                                                            

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                            <!--Silicon Valley-->

                                            <div class="modal fade" id="siliconvalley" tabindex="-1" role="dialog" aria-labelledby="siliconvalley" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for="fullname">Full Name</label>
                                                                    <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="exampleInputEmail1">Email address</label>
                                                                    <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="contactnumber">Contact No.</label>
                                                                    <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="college">College Name</label>
                                                                    <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="year">Year</label>
                                                                    <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="course">Course Of Study</label>
                                                                    <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                                                </div>

                                                                <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                                            </form>
                                                            <div class="modal-footer">
                                                                

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                                <!--Socco-->
                                                <div class="modal fade" id="socco" tabindex="-1" role="dialog" aria-labelledby="socco" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label for="fullname">Full Name</label>
                                                                        <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Email address</label>
                                                                        <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="contactnumber">Contact No.</label>
                                                                        <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="college">College Name</label>
                                                                        <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="year">Year</label>
                                                                        <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="course">Course Of Study</label>
                                                                        <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                                                    </div>

                                                                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                                                </form>
                                                                <div class="modal-footer">
                                                                    

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                    <!--Creative talks-->

                                                    <div class="modal fade" id="creativetalk" tabindex="-1" role="dialog" aria-labelledby="creativetalk" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    <form>
                                                                        <div class="form-group">
                                                                            <label for="fullname">Full Name</label>
                                                                            <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="exampleInputEmail1">Email address</label>
                                                                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="contactnumber">Contact No.</label>
                                                                            <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="college">College Name</label>
                                                                            <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="year">Year</label>
                                                                            <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="course">Course Of Study</label>
                                                                            <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                                                        </div>

                                                                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                                                    </form>
                                                                    <div class="modal-footer">
                                                                        

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                        <!--Eureka-->

                                                        <div class="modal fade" id="eureka" tabindex="-1" role="dialog" aria-labelledby="eureka" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                        <form>
                                                                            <div class="form-group">
                                                                                <label for="fullname">Full Name</label>
                                                                                <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="exampleInputEmail1">Email address</label>
                                                                                <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="contactnumber">Contact No.</label>
                                                                                <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="college">College Name</label>
                                                                                <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label for="year">Year</label>
                                                                                <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label for="course">Course Of Study</label>
                                                                                <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                                                            </div>

                                                                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                                                        </form>
                                                                        <div class="modal-footer">
                                                                            

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                            <!--LazerMaze-->

                                                            <div class="modal fade" id="lazermaze" tabindex="-1" role="dialog" aria-labelledby="lazermaze" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                            <form>
                                                                                <div class="form-group">
                                                                                    <label for="fullname">Full Name</label>
                                                                                    <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="exampleInputEmail1">Email address</label>
                                                                                    <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="contactnumber">Contact No.</label>
                                                                                    <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="college">College Name</label>
                                                                                    <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label for="year">Year</label>
                                                                                    <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label for="course">Course Of Study</label>
                                                                                    <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                                                                </div>

                                                                                <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                                                            </form>
                                                                            <div class="modal-footer">
                                                                                

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                                <!--Bomb barage-->
                                                                <div class="modal fade" id="bombbarage" tabindex="-1" role="dialog" aria-labelledby="bombbarage" aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                <form>
                                                                                    <div class="form-group">
                                                                                        <label for="fullname">Full Name</label>
                                                                                        <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label for="exampleInputEmail1">Email address</label>
                                                                                        <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label for="contactnumber">Contact No.</label>
                                                                                        <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label for="college">College Name</label>
                                                                                        <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <label for="year">Year</label>
                                                                                        <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <label for="course">Course Of Study</label>
                                                                                        <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                                                                    </div>

                                                                                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                                                                </form>
                                                                                <div class="modal-footer">
                                                                                    

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                    <!--Mockstock-->
                                                                    <div class="modal fade" id="mockstock" tabindex="-1" role="dialog" aria-labelledby="mockstock" aria-hidden="true">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                    <form>
                                                                                        <div class="form-group">
                                                                                            <label for="fullname">Full Name</label>
                                                                                            <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Full Name">
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label for="exampleInputEmail1">Email address</label>
                                                                                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"   placeholder="Email">
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label for="contactnumber">Contact No.</label>
                                                                                            <input type="tel" class="form-control" id="contactno" name="contactno"  placeholder="Mobile No.">
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label for="college">College Name</label>
                                                                                            <input type="text" class="form-control" id="college" name="college"  placeholder="College Name">
                                                                                        </div>

                                                                                        <div class="form-group">
                                                                                            <label for="year">Year</label>
                                                                                            <input type="text" class="form-control" id="year" name="year"   placeholder="Year">
                                                                                        </div>

                                                                                        <div class="form-group">
                                                                                            <label for="course">Course Of Study</label>
                                                                                            <input type="text" class="form-control" id="course" name="course"  placeholder="Course Of Study">
                                                                                        </div>

                                                                                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                                                                    </form>
                                                                                    <div class="modal-footer">
                                                                                        

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>


<!--REGISTERATION MODALS END-->


<!--<script src='https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js'></script>-->

    <!--<script src="/css/events/js/index.js"></script>-->
<script src="/css/events/js/index1.js"></script>




<!--<script src="/css/events/js/scroll.js"></script>-->
<!--<script  src="/css/events/js/tiles.js"></script>-->



</body>
</html>
