<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EXCELSIOR 18 | Gallery</title>
<link rel="stylesheet" href="/css/gallery/bootstrap.min.css">
<link rel="stylesheet" href="/css/gallery/flexslider.css">
<link rel="stylesheet" href="/css/gallery/jquery.fancybox.css">
<link rel="stylesheet" href="/css/gallery/main.css">
<link rel="stylesheet" href="/css/gallery/responsive.css">
<link rel="stylesheet" href="/css/gallery/font-icon.css">
<link rel="stylesheet" href="/css/gallery/animate.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/gallery/stylesheet.css">

</head>

<body>
<!-- header section -->
<section class="banner" role="banner">
  <header id="header">

    <div class="header-content clearfix"> <a class="logo">EXCELSIOR 18</a>
     
      <a  class="nav-toggle" onclick="openNav()">Menu<span></span></a> </div>
  </header>
  <!-- banner text -->
  <div class="container-fluid">
   <div class="row" style="padding:20%">
    <div class="col-md-12">
     
     <img src="/images/logo-2018w.png" style="max-height:50%; width:100%">
     
     <!-- banner text --> 
    </div>
    </div>
  </div>
</section>

<div style="z-index:1000; padding-top:10%" id="sidenav" class="sidenav  text-center">
  
   
   
   <span>
<img src="/images/logo-2018.png" class="img"/>
</span>
  <ul id="ul" class="red-text" style="margin-left:auto;  margin-right:auto; ">
       <a href="index.html"><li style="cursor:pointer; ">Home</li></a>
      <a href="about.html"><li  style="cursor:pointer; "> Gallery</li></a>
      <a href="skills.html"><li style="cursor:pointer; ">Events</li></a>
      <a href="projects.html"><li style="cursor:pointer; ">Sponsors</li></a>
      <a href="contact.html"><li style="cursor:pointer; ">Contact</li></a>
      <span><a href="/contact" class="nav-link-custom">Contact Us</a></span>
					
   
   </ul>
    
</div>

<!-- header section --> 
<!-- intro section -->



	

<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Gallery</h3>
      <p>Glimpses of the past</p>
    </div>
  </div>
</section>
<!-- intro section --> 
<!-- services section -->

<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter" id="append">
     
 
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a1" class="work-box"> <img id="1" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Dummy text</h5>
            <p>Dummy text</p>
          </div>
        </div>
        
        </a> </div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a2" class="work-box"> <img id="2" alt="">
          <div class="overlay">
            <div class="overlay-caption">
              <h5>Dummy text</h5>
              <p>Dummy text</p>
            </div>
          </div>
          
          </a> </div>
          <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a3" class="work-box"> <img id="3" alt="">
            <div class="overlay">
              <div class="overlay-caption">
                <h5>Dummy text</h5>
                <p>Dummy text</p>
              </div>
            </div>
            
            </a> </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a4" class="work-box"> <img id="4" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <h5>Dummy text</h5>
                  <p>Dummy text</p>
                </div>
              </div>
              
              </a> </div>
              <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a5" class="work-box"> <img id="5" alt="">
                <div class="overlay">
                  <div class="overlay-caption">
                    <h5>Dummy text</h5>
                    <p>Dummy text</p>
                  </div>
                </div>
                
                </a> </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a6" class="work-box"> <img id="6" alt="">
                  <div class="overlay">
                    <div class="overlay-caption">
                      <h5>Dummy text</h5>
                      <p>Dummy text</p>
                    </div>
                  </div>
                  
                  </a> </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a7" class="work-box"> <img id="7" alt="">
                    <div class="overlay">
                      <div class="overlay-caption">
                        <h5>Dummy text</h5>
                        <p>Dummy text</p>
                      </div>
                    </div>
                    
                    </a> </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a8" class="work-box"> <img id="8" alt="">
                      <div class="overlay">
                        <div class="overlay-caption">
                          <h5>Dummy text</h5>
                          <p>Dummy text</p>
                        </div>
                      </div>
                      
                      </a> </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a9" class="work-box"> <img id="9" alt="">
                        <div class="overlay">
                          <div class="overlay-caption">
                            <h5>Dummy text</h5>
                            <p>Dummy text</p>
                          </div>
                        </div>
                        
                        </a> </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a10" class="work-box"> <img id="10" alt="">
                          <div class="overlay">
                            <div class="overlay-caption">
                              <h5>Dummy text</h5>
                              <p>Dummy text</p>
                            </div>
                          </div>
                          
                          </a> </div>
                      










        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a11" class="work-box"> <img id="11" alt="">
          <div class="overlay">
            <div class="overlay-caption">
              <h5>Dummy text</h5>
              <p>Dummy text</p>
            </div>
          </div>
          
          </a> </div>
         <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a12" class="work-box"> <img id="12" alt="">
            <div class="overlay">
              <div class="overlay-caption">
                <h5>Dummy text</h5>
                <p>Dummy text</p>
              </div>
            </div>
            
            </a> </div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a13" class="work-box"> <img id="13" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <h5>Dummy text</h5>
                  <p>Dummy text</p>
                </div>
              </div>
              
              </a> </div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a14" class="work-box"> <img id="14" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a16" class="work-box"> <img id="16" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a17" class="work-box"> <img id="17" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a18" class="work-box"> <img id="18" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a19" class="work-box"> <img id="19" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a20" class="work-box"> <img id="20" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a21" class="work-box"> <img id="21" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a22" class="work-box"> <img id="22" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a23" class="work-box"> <img id="23" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
       
    
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a31" class="work-box"> <img id="31" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
       
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a28" class="work-box"> <img id="28" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a29" class="work-box"> <img id="29" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a33" class="work-box"> <img id="33" alt="">
          <div class="overlay">
          <div class="overlay-caption">
          <h5>Dummy text</h5>
          <p>Dummy text</p>
          </div>
          </div>
          
          </a> </div>
      

        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a38" class="work-box"> <img id="38" alt="">
          <div class="overlay">
          <div class="overlay-caption">
          <h5>Dummy text</h5>
          <p>Dummy text</p>
          </div>
          </div>
          
          </a> </div>
      
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a30" class="work-box"> <img id="30" alt="">
          <div class="overlay">
          <div class="overlay-caption">
          <h5>Dummy text</h5>
          <p>Dummy text</p>
          </div>
          </div>
          
          </a> </div>
            
       
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a35" class="work-box"> <img id="35" alt="">
        <div class="overlay">
        <div class="overlay-caption">
        <h5>Dummy text</h5>
        <p>Dummy text</p>
        </div>
        </div>
        
        </a> </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a37" class="work-box"> <img id="37" alt="">
          <div class="overlay">
          <div class="overlay-caption">
          <h5>Dummy text</h5>
          <p>Dummy text</p>
          </div>
          </div>
          
          </a> </div>
          <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a25" class="work-box"> <img id="25" alt="">
            <div class="overlay">
            <div class="overlay-caption">
            <h5>Dummy text</h5>
            <p>Dummy text</p>
            </div>
            </div>
            
            </a> </div>
        
           
              <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a27" class="work-box"> <img id="27" alt="">
                <div class="overlay">
                <div class="overlay-caption">
                <h5>Dummy text</h5>
                <p>Dummy text</p>
                </div>
                </div>
               
                </a> </div>
             


            
               <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a15" class="work-box"> <img id="15" alt="">
                    <div class="overlay">
                    <div class="overlay-caption">
                    <h5>Dummy text</h5>
                    <p>Dummy text</p>
                    </div>
                    </div>
                    
                    </a> </div>

              <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a24" class="work-box"> <img id="24" alt="">
                <div class="overlay">
                <div class="overlay-caption">
                <h5>Dummy text</h5>
                <p>Dummy text</p>
                </div>
                </div>
                
                </a> </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work"> <a id="a34" class="work-box"> <img id="34" alt="">
                  <div class="overlay">
                  <div class="overlay-caption">
                  <h5>Dummy text</h5>
                  <p>Dummy text</p>
                  </div>
                  </div>
                  
                  </a> </div>

                 
                 
                            
                            
    </div>
  </div>
</section>

<footer class="page-footer">
       

  <div class="fixed-action-btn vertical animated bounceInUp">
    <a class="btn-floating btn-large red pulse">
    <i class="fa fa-user-o" aria-hidden="true"></i>
    </a>
    <ul>
      <li><a class="btn-floating  indigo darken-3" href="https://www.facebook.com/EXCELSIOR2015/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a class="btn-floating blue darken-2" href="https://www.instagram.com/societyofrobotics_dtu/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a class="btn-floating red darken-4" href="https://www.youtube.com/channel/UCdsIkYFUNWAO4N0K3zElcEQ" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
      <li ><a class="btn-floating red darken-4" href="https://www.youtube.com/channel/UCdsIkYFUNWAO4N0K3zElcEQ" target="_blank"> <i class="fa fa-bookmark" aria-hidden="true"></i></a></li>
    </ul>
  </div>





  </footer>
 
  <!-- Compiled and minified JavaScript -->
 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="/js/gallery/bootstrap.min.js"></script> 
<script src="/js/gallery/jquery.flexslider-min.js"></script> 
<script src="/js/gallery/jquery.fancybox.pack.js"></script> 
<script src="/js/gallery/retina.min.js"></script> 
<script src="/js/gallery/modernizr.js"></script> 
<script src="/js/gallery/main.js"></script> 
<script type="text/javascript" src="js/jquery.contact.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>