<!DOCTYPE html>
<html>
<head>
	<title>EXCELSIOR'18</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- font awesome -->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
  <!-- main -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<!-- <div class="navbar-fixed"> -->
		  
	<!-- </div> -->

	    	<div id="particles-js">
	    		<nav class="navbar navbar-expand-lg navbar-dark">
	    		<div class="container">
				  <a class="navbar-brand" href="/index"><img class="logo-header" src="/images/logo-2018w.png"></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <p class="nav-item-custom">
						<span><a class="nav-link-custom" href="/index">Home</a></span>
						<span><a class="nav-link-custom" href="/about">About</a></span>
						<span><a class="nav-link-custom" href="/team">Our Team</a></span>
						<span><a class="nav-link-custom" href="/sponsors">Our Sponsors</a></span>
						<span><a class="nav-link-custom" href="/events">Our Events</a></span>
						<span><a class="nav-link-custom" href="/gallery">Glimpse of the Past</a></span>
						
				    
				  </div>
				</div>
				</nav>

				<div class="landing-logo">
					<img class="landing-img" src="/images/logo-2018w.png">
					<div style="color: white; z-index: 1000;" id="demo"></div>

				</div>

				<!-- Display the countdown timer in an element -->
				
				<script>
				// Set the date we're counting down to
				var countDownDate = new Date("Feb 9, 2018 00:00:00").getTime();

				// Update the count down every 1 second
				var x = setInterval(function() {

				  // Get todays date and time
				  var now = new Date().getTime();

				  // Find the distance between now an the count down date
				  var distance = countDownDate - now;

				  // Time calculations for days, hours, minutes and seconds
				  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
				  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

				  // Display the result in the element with id="demo"
				  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
				  + minutes + "m " + seconds + "s ";

				  // If the count down is finished, write some text 
				  if (distance < 0) {
				    clearInterval(x);
				    document.getElementById("demo").innerHTML = "EXPIRED";
				  }
				}, 1000);
				</script>
				<footer class="page-footer-h">
				<div class="container"> 
					<p>
						<span><a target="about" href="https://www.facebook.com/EXCELSIOR2015/"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
						<span><a target="about" href="https://www.instagram.com/societyofrobotics_dtu/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
						<span><a target="about" href="https://www.youtube.com/channel/UCdsIkYFUNWAO4N0K3zElcEQ"><i class="fa fa-youtube" aria-hidden="true"></i></a></span>
						<span><a href="/contact">Contact Us</a></span>
					</p> 
					<!-- <ul>
						<li><a href="#">About</a></li>
						<li><a href="">Our Team</a></li>
						<li><a href="">Our Sponsors</a></li>
						<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
						<li><a href="">Glimpse of the Past</a></li>
						<li><a href="">Contact Us</a></li>
					</ul> -->
							  
  <div class="fixed-action-btn vertical animated bounceInUp">
    <a class="btn-floating btn-large red pulse">
		<i class="fa fa-user-o" aria-hidden="true"></i>
    </a>
    <ul>
      <li><a class="btn-floating  indigo darken-3" href="https://www.facebook.com/EXCELSIOR2015/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a class="btn-floating blue darken-2" href="https://www.instagram.com/societyofrobotics_dtu/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a class="btn-floating red darken-4" href="https://www.youtube.com/channel/UCdsIkYFUNWAO4N0K3zElcEQ" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
      <li ><a class="btn-floating red darken-4" href="https://www.youtube.com/channel/UCdsIkYFUNWAO4N0K3zElcEQ" target="_blank"> <i class="fa fa-bookmark" aria-hidden="true"></i></a></li>
    </ul>
  </div>




				</div>


				</footer>
	    	</div>

	  


    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/particles.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  
</body>
</html>