<!DOCTYPE html>
<html>
<head>
	<title>EXCELSIOR'18</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Materialize -->
    <link rel="stylesheet" type="text/css" href="/css/flipclock.css">
	<link rel="stylesheet" href="/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    
    <!-- font awesome -->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
	


	<!-- Compiled and minified JavaScript -->
  <!-- main -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/clock.css"> -->
</head>
<body>
	<div  id="loader">
		<img id="loader-img" src="/images/loader.gif">
	</div>
	
	

	    	<div id="particles-js">
	    		
<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container-fluid">
			<a class="navbar-brand" href="/index"><img class="logo-header" src="/images/logo-2018w.png"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<p class="nav-item-custom">
							<span><a class="nav-link-custom" href="/index">Home</a></span>
							<span><a class="nav-link-custom" href="/about">About</a></span>
							<span><a class="nav-link-custom" href="/team">Our Team</a></span>
							<span><a class="nav-link-custom" href="/sponsors">Our Sponsors</a></span>
							<span><a class="nav-link-custom" href="/events">Our Events</a></span>
							<span><a class="nav-link-custom" href="/gallery">Glimpse of the Past</a></span>
							<span><a href="/contact" class="nav-link-custom">Contact Us</a></span>
				
					</p>

			</div>
	</div>
</nav>


				<div class="landing-logo">
					<img class="landing-img" src="/images/logo-2018w.png" style="margin-bottom:10px">
					<!-- <div class="clock" ></div>	
				</div> -->


				<footer class="page-footer-h">
					<div class="countdowntimer">
						<h1 >Countdown to Awesomeness <i class="fa fa-rocket" aria-hidden="true"></i></h1>
						 <ul>
						   <li><span id="days"></span>days</li>
						   <li><span id="hours"></span>Hours</li>
						   <li><span id="minutes"></span>Minutes</li>
						   <li><span id="seconds"></span>Seconds</li>
						 </ul>
					</div>
					<p>
						<span><i class="fa fa-copyright" aria-hidden="true"></i> All Rights Reserved</span>
					</p>
				<div class="container"> 
			
				
							  
  <div class="fixed-action-btn vertical animated bounceInUp click-to-toggle">
    <a class="btn-floating btn-large red pulse">
		<i class="fa fa-user-o" aria-hidden="true"></i>
    </a>
    <ul>
      <li><a class="btn-floating  indigo darken-3" href="https://www.facebook.com/EXCELSIOR2015/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a class="btn-floating blue darken-2" href="https://www.instagram.com/societyofrobotics_dtu/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a class="btn-floating red darken-4" href="https://www.youtube.com/channel/UCdsIkYFUNWAO4N0K3zElcEQ" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
    </ul>
  </div>




				</div>


				</footer>
	    	</div>

	  


    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/flipclock.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/particles.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/materialize.js"></script>

  
</body>
</html>