<!DOCTYPE html>
<html>

<head>
    <title>EXCELSIOR'18</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.css">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- main -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <div id="back">


        <ul id="loader">

            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

        </ul>
    </div>

    <!-- <div id="particles-js"> -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">
                <img class="logo-header" src="/images/logo-2018w.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <p class="nav-item-custom">
                    <span>
                        <a class="nav-link-custom" href="/index">Home</a>
                    </span>
                    <span>
                        <a class="nav-link-custom" href="/about">About</a>
                    </span>
                    <span>
                        <a class="nav-link-custom" href="/team">Our Team</a>
                    </span>
                    <span>
                        <a class="nav-link-custom" href="/sponsors">Our Sponsors</a>
                    </span>
                    <span>
                        <a class="nav-link-custom" href="/events">Our Events</a>
                    </span>
                    <span>
                        <a class="nav-link-custom" href="/gallery">Glimpse of the Past</a>
                    </span>
                    <span>
                        <a href="/contact" class="nav-link-custom">Contact Us</a>
                    </span>





            </div>
        </div>
    </nav>

    <!-- About us -->
    <div class="container">
        <div class="jumbotron jumbotron-about">
            <h1>Our Sponsors</h1>
            <div class="row">
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="http://www.i3indyatechnologies.com/">
                        <img src="/images/sponsors/3indya.jpg" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="http://3sttechnologies.com/">
                        <img src="./images/sponsors/3t.png" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="https://www.analyticsvidhya.com/">
                        <img src="./images/sponsors/Analytics.png" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="http://beingstudent.com/">
                        <img src="./images/sponsors/BeingStudent.png" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="http://www.brainweave.co.in/">
                        <img src="./images/sponsors/Brainweave.png" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="#">
                        <img src="./images/sponsors/Dataworld.png" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="http://eatmynews.com/">
                        <img src="./images/sponsors/EatmyNew.png" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="http://eltravo.com/">
                        <img src="./images/sponsors/Eltravo.png" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="#">
                        <img src="./images/sponsors/Facebook.png" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="https://www.jetbrains.com/">
                        <img src="./images/sponsors/JEtBrain.png" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="https://www.oyorooms.com/">
                        <img src="./images/sponsors/OYO.jpg" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="https://www.paisawapas.com/">
                        <img src="./images/sponsors/PaisaWapas.png" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="#">
                        <img src="./images/sponsors/RedApple.png" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="https://temboo.com/">
                        <img src="./images/sponsors/Temboo.png" alt="">
                    </a>
                </div>
                <div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="http://www.wingfotech.com/public/">
                        <img src="./images/sponsors/Wingfotech.png" alt="">
                    </a>
                </div><div class="col-6 col-md-4">
                    <a class="sponsors" target="_blank" href="https://interviewbuddy.in/">
                        <img src="./images/sponsors/InterViewBuddy.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- About us -->


    <footer class="page-footer">
        <p>
            <span>
                <i class="fa fa-copyright" aria-hidden="true"></i> All Rights Reserved</span>
        </p>


        <div class="fixed-action-btn vertical animated bounceInUp click-to-toggle">
            <a class="btn-floating btn-large red pulse">
                <i class="fa fa-user-o" aria-hidden="true"></i>
            </a>
            <ul>
                <li>
                    <a class="btn-floating  indigo darken-3" href="https://www.facebook.com/EXCELSIOR2015/" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="btn-floating blue darken-2" href="https://www.instagram.com/societyofrobotics_dtu/?hl=en" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="btn-floating red darken-4" href="https://www.youtube.com/channel/UCdsIkYFUNWAO4N0K3zElcEQ" target="_blank">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>






    </footer>
    <!-- </div> -->




    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>


    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/particles.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>